html, body, div, span, applet, object,
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    height: 100%;
}

#allContainer{
	height: 100%;
	width: 100%;
}

#pinToolBar{
	height: 10%;
	width: 100%;
	background-color: #00BFFF;;
}

#pinLogo{
	display: inline-block;
}

#pinQuizTitle{
	display: inline-block;
}

#pinUsersContainer{
	height: 90%;
	width: 100%;
	background-color: green;
}

