html, body, div, span, applet, object,
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    height: 100%;
}

#allContainer{
	height: 100%;
	width: 100%;
}

#pinToolBar{
	height: 10%;
	width: 100%;
	background-color: rgb(240,230,140);
}

#pinLogo{
	display: inline-block;
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	font-size: 56px;
	margin-left: 5%;
}

#pinQuizTitle{
	display: inline-block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	margin-left: 3%;
	width: 30%;
}

#pinToHome{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	margin-left: 35%;
	background-color: #D3D3D3;
	border: 2px solid black;
}

#pinLogout{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	margin-left: 3%;
	background-color: #D3D3D3;
	border: 2px solid black;
}

#pinUsersContainer{
	height: 90%;
	width: 100%;
	text-align: center;
	background-color: rgb(240,230,140);
	background-color: rgba(240,230,140, 0.3);
}

#pinGap{
	height: 7%;
	width: 100%;
}

#pinLabel{
	height: auto;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 32px;
}

#quizPIN{
	height: auto;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 72px;
	margin-top: 12px;
	font-weight: bold;
	color: #5F9EA0;
}

#startQuizFinal{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 26px;
	border: 1px solid black;
	background-color: #5F9EA0;
	color: white;
	border-radius: 2px;
	padding: 10px;
	margin-bottom: 3%;
}

#testLabel{
	height: auto;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#nameInput{
	display: inline-block;
	height: auto;
}

#addNameButton{
	display: inline-block;
	height: auto;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#leftNameContainer{
	width: 30%;
	height: auto;
	margin-left: 5%;
	text-align: center;
	float: left;
}

#centerNameContainer, #rightNameContainer{
	width: 30%;
	height: auto;
	text-align: center;
	float: left;
}

.initDiv{
	font-size: 1px;
	opacity: 0;
}

.name{
	font-size: 18px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-top: 5px;
}