html, body, div, span, applet, object,
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    height: 100%;
}

#allContainer{
	height: 100%;
	width: 100%;
}

#studentToolBar{
	height: 10%;
	width: 100%;
	background-color: rgb(102, 205, 170);
}

#studentLogo{
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	font-size: 36px;
    font-variant: small-caps;
    display: inline-block;
    padding: 10px 0px 10px 50px;
}

#studentExit{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	background-color: white;
	color: rgb(102, 205, 170);
	border: 1px solid black;
	border-radius: 2px;
	padding: 5px;
	margin-left:70%;
}

#studentLogout{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	background-color: white;
	color: rgb(102, 205, 170);
	border: 1px solid black;
	border-radius: 2px;
	padding: 5px;
	margin-left: 3%;
}

#studentMainContainer{
	height: 90%;
	width: 100%;
}

#studentQuestionContainer{
	height: auto;
	width: 100%;
}

#studentQuestion{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 42px;
	padding: 45px 0px 45px 50px;
	width: 100%;
	display: inline-block;
	float: left;
}

#studentFirstAnswer{
	float: left;
	text-align: center;
	height: 200px;
	width: 35%;
	margin-left: 12.5%;
	background-color: rgb(178, 34, 34);
	border: 5px solid black;

}

#studentSecondAnswer{
	float: left;
	text-align: center;
	height: 200px;
	width: 35%;
	margin-left: 5%;
	background-color: rgb(255, 140, 0);
	border: 5px dashed black;

}

#studentThirdAnswer{
	float: left;
	text-align: center;
	height: 200px;
	width: 35%;
	margin-left: 12.5%;
	background-color: rgb(138, 43, 226);
	border: 5px double black;
	margin-top: 30px;
}

#studentFourthAnswer{
	float: left;
	text-align: center;
	height: 200px;
	width: 35%;
	margin-left: 5%;
	background-color: rgb(34, 139, 34);
	border: 5px dotted black;
	margin-top: 30px;
}

.studentAnswerHeader{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 36px;
	height: auto;
	color: white;
}

.studentAnswer{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 28px;
	height: auto;
	color: white;
}