html, body, div, span, applet, object,
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    height: 100%;
}

#allContainer{
	height: 100%;
	width: 100%;
}

#teacherToolBar{
	height: 10%;
	width: 100%;
}

#teacherLogo{
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    font-variant: small-caps;
    display: inline-block;
}

#cancelAndReturn{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#teacherLogout{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}